.sliderDiv {
    display: flex;
    justify-content: space-between;
    align-content: center;
    max-width: 80vw;
    max-height: 3vh;
}

label {
    align-self: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

form {
    min-width: 15%;
    margin-left: 25px;
    margin-right: 25px;
    margin: 0 auto;
}

select{
    margin-left: auto;
}

.emptyDiv {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 25px;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}